        DIV {font-size: 24pt;}
        .redText {color: red;}
        .blueText {color: blue;}
        .italicText {font-style: italic;}

        SPAN {font-size: 18pt;}
        .redText {color: red;}
        .blueText {color: blue;}
        .italicText {font-style: italic;}
        .inherited {color: blue;}


        P{font-size: 24pt;}
        .redText {color: red;}
        .blueText {color: blue;}
        .italicText {font-style: italic;}

        .italic_button {
        background-color: silver;
        border-width: 3;
        color: black;
        font-style: italic;
        }


        .link_class_1 a:link {
        background-color: red;
        border-width: 3;
        color: white;
        width : 3em ; 
	  height : 3em ; 
        font-style: italic;
        }

        .check_box_style {
        background-color: red;
        border-width: 3;
        color: white;
        width : 3em ; 
	  height : 3em ; 
        }


        .radio_style {
        background-color: yellow;
        border-width: 3;
        color: green;
        width : 2em ; 
	  height : 2em ; 
        }

        select.list_style {
        background-color: yellow;
        border-width: 3;
        color: green;
        font-style: italic;
        }

        option.option_style {
        background-color: red;
        border-width: 3;
        color: white;

        }
