body
{
  margin-left:	5%;
  margin-right: 5%;
  padding: 0;
  background:	#fff;
  color: #333;
  font: normal small Geneva, Verdana, Arial, sans-serif;
}
h1
{
  font-size: 175%;
}
h2
{
  font-size: 135%;
}
h3
{
  font-size: 110%;
}
h4
{
  font-size: 100%;
}
p
{
  margin-bottom: 10px;
}
div.testexample
{
  background: #fff;
  margin-left:  10%;
  margin-right: 10%;
  padding: 1em;
  font-family: "Courier New", monospace;
  font-size: 11pt;
  color: black;
  border: 1px solid #000;
  border-width: thin;
  margin-bottom: 10px;
}
div.htmlexample 
{
  background: #ccc;
  margin-left:  10%;
  margin-right: 10%;
  padding: 1em;
  font-family: "Courier New", monospace;
  font-size: 11pt;
  color: blue;
  border: 1px solid #000;
  border-width: thin;
  margin-bottom: 10px;
}
div.browserexample
{
  background: #fff;
  margin-left:  10%;
  margin-right: 10%;
  padding: 1em;
  font: normal small Geneva, Verdana, Arial, sans-serif;
  font-size: 11pt;
  color: #000;
  border: 1px solid #000;
  border-width: thin;
  margin-bottom: 10px;
}