body {
	margin:       0px;
	padding:      0px;
	background:   #fff;
	font-size:    1em;
	font-family:  verdana, helvetica, arial, sans-serif;
}
	
h1 {
	margin-bottom:	1em;
	font-size:	1.5em;
	font-weight:	bold;
}

h2 {
	margin-top:    1em;
	margin-bottom: 1em;
	font-size:     1.5em;
	font-weight:   normal;
}	

p {
    margin-top:    0px;
	margin-bottom: 1em;
	font-size:     .8em;
}

a:link {
	color:	          #215997;
}

a:visited {
	color:		  #215997;
}

a:hover {
	color:		  #215997;
	background-color: #efefef;
}

a:active {
}

#banner {
        width:		     95%;
	height:	             95px;
	background-image:    url(images/watir.gif);
	background-repeat:   no-repeat;
	background-position: 30px 0px;
}

#banner h1 {
	margin-left:	     150px;
	height:	             70px;
	background-image:    url(images/watirwords.gif);
	background-repeat:   no-repeat;
	background-position: 18px 25px;
}

#left-column {
        margin-top: 0;
	float: 	    left;
	position:   absolute;
	width: 	    110px;
	margin:	    15px 10px 3px 30px;
	font-size:  0.8em;
}

#left-column p {
        margin-top:	0px;
	margin-bottom:	1em;
	font-size:     .8em;
}

#left-column h2 {
	margin:		0;
	margin-bottom:  0;
	font-size:     1.0em;
	font-weight:   bold;
}

#left-column ul {
	margin-top:    0;
	margin-bottom: 1em;
	margin-left: 15;
	padding:       0;
	font-size:     0.8em;
}

#left-column ul li {
	margin:	 0 0 0.2em 0;
	padding: 0;

}

#right-column {
	        position:     absolute;
		width:	      70%;
		margin-top:   15px;
		margin-left:  170px;
		margin-right: auto;
		text-align:   left;
	}

#right-column p {
	font-size:     .8em;
}

#right-column h2 {
	font-size:     1.0em;
	font-weight:   bold;
}

#right-column ul {
	font-size:     0.8em;
}

#right-column ul li {
}

#right-column ol {
	font-size:     0.8em;
}

#right-column ol li {
}

#menu-bar {
	width:        95%;
	margin-top:   10px;
	margin-left:  auto;
	margin-right: auto;
	font-size:    1em;
	text-align:   left;
}
p.navigation-bar {
        background-color: #205996;
	color:            white;
	border:           1px #efefef solid;
	text-align:       center;
}

p.navigation-bar a:link {
        background-color:#205996;
	color:           white;
        text-decoration: none;
}

p.navigation-bar a:visited {
	color:           white;
        text-decoration: none;
}

p.navigation-bar a:hover {
	background-color: #97C6DD;
        color:            white;
        text-decoration: underline;
}

 .about {
	margin-bottom:	     1em;
	margin-top:          0px;
	padding:	     10px;
 	font-size:           1.1em;
	background-color:    #EFEFEF;
	border:		     1px solid #999;
	font-weight:   bold;
}
.about p {
        margin-top:	    0px;
	margin-bottom:	    0px;
}
